*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: tahoma;
    background: linear-gradient(135deg, #667eea, #764ba2);;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px;
    padding: 30px;
    text-align: center;
}

.avatar{
    width: 120px;
    height: 120px;
    border: 4px solid #764ba2 ;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;   
}

.name{
    font-size: 24px;
    color: #333;
    margin-bottom: 8px;
}

.job{
    font-size: 14px;
    color: #667eea;
    margin-bottom: 15px;
    font-weight: bold;
}

.bio{
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    line-height: 20px;
}

.buttons{
    gap: 10px;
    display: flex;
    justify-content: center;
}
 .btn{
    padding: 10px 20px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
 }

 .btn:hover{
    background: #764ba2;
 }